<p>物件名 : <%= @property.name %></p>
<p>賃料 : <%= @property.price %></p>
<p>住所 : <%= @property.address %></p>
<p>築年数 : <%= @property.age %></p>
<p>備考 : <%= @property.note %></p>
<% @stations.each do |station| %>
  <% if @property.stations.any? %>
    <h3>最寄駅<%= @station_count %></h3>
    <p>路線名 : <%= station.route %></p>
    <p>駅名 : <%= station.name %></p>
    <p>徒歩分数 : <%= station.minute %></p>
    <% @station_count += 1 %>
  <% end %>
<% end %>
<%= link_to '編集', edit_property_path(@property.id) %>
<%= link_to '戻る', :back %>
